/* Reset padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo da barra de rolagem do corpo */
body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: rgb(6, 6, 6);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    border: 3px solid rgb(41, 41, 41);
}

/* Estilo da navegação */
.nav-link {
    padding-bottom: 0.1rem !important;
}

/* Estilo da lista de navegação na barra de cabeçalho */
.header nav ul li {
    list-style: none;
    display: inline;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    position: relative;
}

/* Efeito de sublinhado ao passar o mouse sobre os itens de navegação */
.header nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    background-color: #3c164b;
    transition: 0.5s;
}

.header nav ul li:hover::after {
    width: 100%;
}

/* Cor ao passar o mouse sobre os links de navegação */
.nav-link:hover {
    color: #d095e7 !important;
}

/* Estilo da seção home */
.home {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
        url(../img/home.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo da barra de navegação personalizada */
.custom-navbar {
    background-color: #000 !important;
}

footer{
   text-align: center;
   padding-top: 10px;
   background-color: #000;
   color: #fff;
   padding: 20px;
   text-align: center;
}
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}
/* Estilos para o rodapé */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Estilos para os links no rodapé */
footer a {
    color: #f1c9ff;
    text-decoration:underline;
    margin: 10px;
    display: block; /* Garante que cada link seja exibido em uma linha */
}


.carousel-control-prev, .carousel-control-next {
    font-size: 3rem !important; /* Ajuste o tamanho conforme necessário */
    color: #000 !important; /* Cor das setas (substitua pela cor desejada) */
}


.card-body{
    border: 2px solid #dad7d7 !important; /* Cor da borda e largura da borda */
    border-radius: 10px; /* Borda arredondada (opcional) */
    padding: 15px; /* Espaçamento interno para dar espaço à borda */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para criar efeito de levitação */
    transition: box-shadow 0.3s ease-in-out; 
}
.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6); /* Aumenta a sombra ao passar o mouse */
}
h2,h1{
    font-size: 50px;
    color:  #3c164b!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /*text-align: left; 
    width: 30em;  Aproximadamente 11 palavras por linha (dependendo do tamanho da palavra) */
    
  
}


.lista,input,button,label{
    font-size: 18px;
    font-family: 'Roboto', sans-serif !important;
}

.quadrado-rosa {
    position: absolute;
    width: 90%;
    height: 100%;
    background-color: var(--primaria);
    left: 12px;
    top: 20%;
    z-index: -1;
}
#sobre img {
    width: 95%;
}

#sobre .colunaimg {
    position: relative;
    margin-bottom: 10%;
}

p.no-break {
    white-space: nowrap;
}

#instrutor {
    background-color: black;
    color: white;
    width: 100%;
  }
  
a{
    color: rgb(209, 23, 23);
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

h3{
    font-size: 50px;
    font-weight: bold;

}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}

i{
    font-size: 30px;
    color: rgb(209, 23, 23);
    margin-right: 10px;
}

#contato{
    top: 100px;     
    margin-left: 60%;
}
#Main_Body{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    #Main_Body{
        display: flex;
        flex-direction: column; 
    }
    .home{
        height: 100%;
    }
    
  }
  
  @media screen and (max-width: 480px) {
   
    
  }